*{
    margin: 0;
}

body{
    display: flex;
    /* tarayıcının uzunlugu kadar */
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
    color: white;
}
.container{
    width: 400px;
    text-align: center;
    position: relative;
}
.counter{
    font-size: 40px;
}

.white{
    height: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 100%;
}

.red{
    height: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 0%;
}

